<!DOCTYPE HTML>
<html>
<head>
    <title>Trang HTML5</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>

<header class="clearfix">
    <div class="topnav clearfix">
        <div id="logo">
            <a href="#">SINGOLO<span>*</span></a>
        </div>
    <nav>
        <ul>
            <li><a href="" class="selected">HOME</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">PORTFOLIO</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </nav>
</div>
</header>

<section id="banner" class="clearfix">
    <div class="fixwidth clearfix">
        <img src="../images/img1.png" alt="" width="100%">
    </div>
</section>

<section id="ourServices" class="clearfix">
    <div class="fixwidth clearfix">
        <h1>Our Services</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
           Quisquam culpa ducimus ab mollitia alias minus.</p>
   
    <div class="itemService pencil">
        <h3>Custom Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
    </div>

    <div class="itemService light">
        <h3>Inovative Ideas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
    </div>

    <div class="itemService itemfix heart">
        <h3>Love is the answer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
    </div>

    <div class="clearfix"></div>
    <div class="itemService message">
        <h3>Responsive Layout</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
    </div>

    <div class="itemService phone">
        <h3>24/7 Support</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
    </div>

    <div class="itemService itemfix star">
    <h3>Feel Like A Star</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
        Quisquam culpa ducimus ab mollitia alias minus.</p>
</div>
</div>
</section>
<section id="portfolio" class="clearfix">
    <div class="fixwidth">
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
            <nav class="portfolio clearfix">
                <ul>
                    <li><a href="" class="selectedx">All</a></li>
                    <li><a href="">Web Design</a></li>
                    <li><a href="">Graphic Design</a></li>
                    <li><a href="">Artwork</a></li>
                </ul>
            </nav>
   
    <div class="itemx"><img src="../images/images1.png" alt=""></div>
    <div class="itemx"><img src="../images/images2.png" alt=""></div>
    <div class="itemx"><img src="../images/images3.png" alt=""></div>
    <div class="itemx itemfix"><img src="../images/images4.png" alt=""></div>
    <div class="itemx"><img src="../images/images5.png" alt=""></div>
    <div class="itemx"><img src="../images/images6.png" alt=""></div>
    <div class="itemx"><img src="../images/images7.png" alt=""></div>
    <div class="itemx itemfix"><img src="../images/images8.png" alt=""></div>
    <div class="itemx"><img src="../images/images9.png" alt=""></div>
    <div class="itemx"><img src="../images/images10.png" alt=""></div>
    <div class="itemx"><img src="../images/images11.png" alt=""></div>
    <div class="itemx itemfix"><img src="../images/images12.png" alt=""></div>
        </div>
</section>
<section id="aboutUs">
    <div class="fixwidth">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
            <div class="itemAvata">
                <img src="../images/avatar1.png" alt="">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
                    Quisquam culpa ducimus ab mollitia alias minus.</p>
                    <ul>
                        <li><a href=""><img src="../images/iconfb.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icongg.png" alt=""></a></li>
                        <li><a href=""><img src="../images/iconin.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icontweet.png" alt=""></a></li>
                    </ul>
            </div>
            <div class="itemAvata">
                <img src="../images/avatar2.png" alt="">
                <h4>Qui, voluptatum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
                    Quisquam culpa ducimus ab mollitia alias minus.</p>
                    <ul>
                        <li><a href=""><img src="../images/iconfb.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icongg.png" alt=""></a></li>
                        <li><a href=""><img src="../images/iconin.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icontweet.png" alt=""></a></li>
                    </ul>
             </div>
             <div class="itemAvata itemfix">
            <img src="../images/avatar3.png" alt="">
            <h4>Qui, voluptatum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
                Quisquam culpa ducimus ab mollitia alias minus.</p>
                <ul>
                    <li><a href=""><img src="../images/iconfb.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icongg.png" alt=""></a></li>
                        <li><a href=""><img src="../images/iconin.png" alt=""></a></li>
                        <li><a href=""><img src="../images/icontweet.png" alt=""></a></li>
                </ul> 
            </div>
    </div>
</section>
<section id="getaQuote" class="clearfix">
    <div class="fixwidth">
        <h3>Get a Quote</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
            Quisquam culpa ducimus ab mollitia alias minus.</p>
            <div class="itemform">
                <input type="text" name="" id="" placeholder="Name (Required)">
                <input type="text" name="" id="" placeholder="Email (Required)">
                <input type="text" name="" id="" placeholder=" Subject">
                <textarea name="" id="" cols="30" rows="10">Describe your project in detail</textarea>
            </div>
        <div class="contactform">
            <h4>Contact Information</h4>
            <p class="css">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate ipsam provident sit enim, harum quis quae laboriosam consequuntur, mollitia quo illo soluta unde. 
                Quisquam culpa ducimus ab mollitia alias minus.</p>
                <ul>
                    <li><a href="" class="location">Elm St.14/05 Lost City</a></li>
                    <li><a href="" class="phone">03528 331 86 35</a></li>
                    <li><a href="" class="mail">info@singolo.com</a></li>
                </ul> 
        </div>
        </div>
</section>
<aside>
</aside>

<footer class="clearfix">
    <div class="fixwidth">
        <address>
            <p> Copyright 2013 by PSDchat.com</p>
        </address>
        <ul class="footer">
                <li><a href=""><img src="../images/iconfb.png" alt=""></a></li>
                    <li><a href=""><img src="../images/icongg.png" alt=""></a></li>
                    <li><a href=""><img src="../images/iconin.png" alt=""></a></li>
                    <li><a href=""><img src="../images/icontweet.png" alt=""></a></li>
        </ul>
    </div>
    
</footer>

</body>

</html>